
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ********************************************************** */

body {
  background-image: url(../img/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.content {
  width: 80%;
  height: 80%;
  background-color: rgba(62, 150, 228, 0.678);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.589);
}

.nav {
  list-style: none;
  display: flex;
  float: right;
  gap: 12px;
  font-size: 20px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: transform .2s;
}

.nav li {
  margin: 0 15px;
}

.nav li:hover {
  transform: scale(1.2);
}

.logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  color: white;
  padding: 15px;
}

.logo {
  height: 200px;
  text-align: center;
  margin-top: 25px;
}

.texto {
  background: rgba(35, 79, 112, 0.637);
  padding: 15px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin: 15px;
  border-radius: 15px;
}


/* MENU HAMBURGUER ************************************************* */

#menu {
  margin-top: 10px;
  z-index: 3;
  width: 170px;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 22px 0 20px 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 22px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.menu-bg, #menu {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 2;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #e9710f9a, #e9710f9a);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: rgb(255, 255, 255);
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(-60%,-30%);
}
